*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(219, 215, 215);
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px #F34C0C;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

span{
    color: #F34C0C;
    font-family: 'Dancing Script', cursive;
}


.nav-left a{
    width: 22px;
    margin-right: 25px;
    font-size: 30px;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}


.btn{
    font-size: 15px;
    margin-left: 20px;
    background-color: #F34C0C;
    color: white;
    border: 2px solid #F34C0C;
}
.btn:hover{
    background-color: #be3c09;
    border: 2px solid #be3c09;
    color: #f1edec;
    transition: 0.2s;
}

.btn1{
    font-size: 15px;
    padding: 10px;
    /* margin: 10px; */
    color: #F34C0C;
    background-color: white;
    border: 2px solid #F34C0C;
    border-radius: 5px;
    text-decoration: none;
}

.btn1:hover{
    background-color: #F34C0C;
    border: 2px solid #F34C0C;
    color: #f1edec;
    transition: 0.5s;
}
.navbar-collapse h6{
    font-size: 20px;
    padding: 10px;
}
.navbar-collapse .btn{
    margin-right: 40px;
    background-color: #F34C0C;
    padding: 10px;
    color: white;
    border: 2px solid #F34C0C;
}
.navbar-collapse .btn:hover{
    background-color: #be3c09;
    border: 2px solid #be3c09;
    color: #f1edec;
    transition: 0.2s;
}


/* head */
.head h1{
    margin: 50px;
}


/* section one */

.competition a{
    margin: 0px;
    margin-top: 15px;
}
.competition .ing{
    box-shadow: 0 0 10px #F34C0C;

    width: 100%;
}
.competition  .time{
    float: right;


}



/* footer */
.foot{
    padding-top: 50px;
}
.footer .foot-h span{
    color: #F34C0C;
    font-family: 'Dancing Script', cursive;
}
.footer .short{
    font-size: 15px;
}
.footer .location{
    font-size: 13px;
    margin-bottom: 60px;
}
.footer .location i{
    font-size: 15px;
    color: #F34C0C;
    padding: 10px;
}

.footer a{
    text-decoration: none;
}


@media screen and (max-width: 1200px) {
    .competition .col-6{
        width: 100%
    
}
.competition .col-6 .ing{
    width: 100%;
}
.competition .txt{
    margin-bottom: 50px;
}
br{
    display: none;
}
}
