body{
    padding: 0;
    margin: 0;

}

/* head */

.head{
    margin-top: 100px;
}
span{
    color: #F34C0C;
    font-family: 'Dancing Script', cursive;
}



/*start login*/
.card {
    box-shadow: 0 0 10px #F34C0C;

}
.card-body span{
    color: #F34C0C;
    font-family: 'Dancing Script', cursive;}

.form-outline input{
    background-color: #D9D9D9B2;
    width: 100%;

}


.input-container{
    position: relative;
}

.form-outline .input-container .icon{
    position: absolute;
    padding-top: 5px;

}

.icon{
    font-size: 25px;
    color: #F34C0C;
    min-width: 40px;
    top: 0;
    right: 5px;
    bottom: 0;
}
.form-outline select{
    background-color: #D9D9D9B2;

}

.form-select{
    padding: 10px;
}
.card-body .btn{
    background-color: #F34C0C;
    color: white;
    border: 2px solid #F34C0C;
}
.card-body .btn:hover{
    background-color: #be3c09;
    border: 2px solid #be3c09;
    color: #f1edec;
    transition: 0.2s;
}

.all{
    margin-bottom: 50px;
}
