body{
    padding: 0;
    margin: 0;
    background-image: url(/image/porter-raab-Ucr4Yp-t364-unsplash-scaled.jpg);
    background-attachment: fixed;
    background-size: cover;
}


.card-body small{
    font-size: 24px;
    font-weight: 600;
    color: #F34C0C;

}

.card-body span{
    color: #F34C0C;
    font-family: 'Dancing Script', cursive;}


.form-outline input{
    background-color: #D9D9D9B2;
    width: 100%;

}
.input-container{
    position: relative;
    direction:rtl;
}
.form-outline .icon{
    position: absolute;
    padding-top: 5px;


}
.icon{
    font-size: 25px;
    color: #F34C0C;
    min-width: 40px;
    top: 0;
    left: -5px;
    bottom: 0;
}
.form-outline select{
    background-color: #D9D9D9B2;
}

.card-body .form-check-label{
    color: #4D4D4D99;
}
.card-body .btn{
    background-color: #F34C0C;
    color: white;
    border: 2px solid #F34C0C;
}
.card-body .btn:hover{
    background-color: #be3c09;
    border: 2px solid #be3c09;
    color: #f1edec;
    transition: 0.2s;
}
.card-body a{
    text-decoration: none;
    color: #F34C0C;
}

.all h1{
    font-size: 70px;
    font-weight: 700;
    height: 156px;
    /*padding-left: 100px;*/
    margin-top: 250px;

}


@media screen and (max-width: 996px) {
.form-control {
    font-size: 15px;
}
.icon{
    font-size: 20px;
}
.form-select{
    font-size: 10px;
    padding: 10px;
    margin-bottom: -15px;
}
}

@media screen and (max-width: 770px) {
.col {
    width: 100%;
    padding-bottom: 30px;
}
.welcome{
    display: none;
}
}


@media screen and (max-width: 320px) {
    .form-control {
        font-size: 10px;
    }
    .icon{
        font-size: 15px;
        right: -10px;
    }
    .form-select{
        font-size: 10px;
        padding: 10px;
    }
}
